@{
    ViewBag.Title = "Home Page";
}

<div>


    <h1>Request Car Insurance Quote</h1>
    <p class="lead">Get your car insurance quote from us today!</p>
    <a href='@Url.Action("Create", "Insuree")'>
        <input type='button' value='Get Your Quote!' class="btn btn-primary btn-md">
    </a>

</div>