@{
    ViewBag.Title = "Success";
}

<body class="adminview">

    
    <h2>Success</h2>
    <p>Your quote will be emailed to the address your provided.</p>

    <div>
        @Html.ActionLink("Return to Title Page", "Index", "Home")
    </div>
</body>

